<div id="footer">
    <div class="container">
        <ul class="social">
			<li class="tw"><a href="https://twitter.com/FRKodes" target="_blank" title="Send me a Twitter mesage!" data-icon="t"></a></li>
			<li class="gh"><a href="https://github.com/FRKodes" target="_blank" title="Get in touch at Github ;)" data-icon="g"></a></li>
			<li class="em"><a href="mailto:frkalderon@gmail.com" title="Email me!" data-icon="m"></a></li>
			<li class="li"><a href="https://www.linkedin.com/profile/view?id=103218485" target="_blank" title="Contact me at Linkedin!" data-icon="l"></a></li>
		</ul>
        <p class="muted credit text-center">&copy; 2014 Tony A.K.A FRKodes.</p>
    </div>
</div>